{% extends 'app/base.html' %} 
 
{% load humanize %} 
 
{% block content %} 
 
<div class="product-detail"> 
  <div class="product-detail-image"> 
    <img src="{{ product.image.url }}" class="product-img"> 
  </div> 
 
  <div class="product-detail-info"> 
    <h2>{{ product.name }}</h2> 
    <hr> 

    <div class="point-fav-section"> 
      <h4>{{ product.price | intcomma }}ポイント</h4> 

       <!-- 追加 --> 
       {% if request.user.is_authenticated %} 
       <form action="{% url 'app:toggle_fav_product_status' %}" method="POST"> 
         {% csrf_token %} 
         <input type="hidden" name="product_id" value="{{ product.id }}"> 
         {% if product in user.fav_products.all %} 
           <input type="submit" name="submit" class="btn btn-primary" value="お気に⼊りから外す"> 


         {% else %} 
           <input type="submit" name="submit" class="btn btn-primary" value="お気に⼊りに⼊れる"> 
         {% endif %} 
       </form> 
    {% endif %} 


    </div> 
    <p>{{ product.description }}</p> 

    <!-- 追加 --> 
    <div> 
        {% if request.user.is_authenticated %} 
          <form action="{% url 'app:detail' product.id %}" method="POST"> 
            {% csrf_token %} 
            {{ add_to_cart_form.as_p }} 
            <button class="btn btn-primary" type="submit"> 
              カートに追加する 
            </button> 
          </form> 
        {% else %} 
          <a href="{% url 'app:login' %}?next={{ request.path }}"> 
            <button class="btn btn-primary">ログインして購⼊する</button> 
          </a> 
        {% endif %} 
      </div> 
      
  </div>
</div> 
 
{% endblock %}